<nav th:fragment="menu">
  <ul id="mega-menu-3" class="mega-menu">
    <li class="first"><a href="#" class="current">HOME</a></li>
    <li><a th:href="@{/laptop-re}">LAPTOP</a>
      <ul>
        <li><a href="laptop-re.html">New General Laptop</a>

          <ul>
            <li><a href="linh-kien-dell.html">Dell</a></li>
            <li><a href="linh-kien-hp.html">HP</a></li>
            <li><a href="#">Acer</a></li>
            <li><a href="#">Vaio</a></li>
            <li><a href="#">Toshiba</a></li>
            <li><a href="#">Samsung</a></li>
          </ul>
        </li>

      </ul>
    </li>

    <li><a href="linh-kien.html">ACCESSORIES</a>
      <ul>
        <li><a href="#">Monitor</a></li>
        <li><a href="linh-kien-chuot.html">Mouse</a></li>
        <li><a href="#">Keyboard</a></li>
        <li><a href="#">CPU</a></li>
        <li><a href="#">RAM</a></li>
        <li><a href="#">Adaptor</a></li>
      </ul>
    </li>
    <li><a href="phan-mem.html">SOFTWARE</a>
      <ul>
        <li>
          <ul>
            <li><a href="#">Office</a></li>
            <li><a href="#">Antivirus</a></li>
            <li><a href="#">Graphic</a></li>
          </ul>

        </li>

      </ul>
    </li>
    <li><a href="#">FORUM</a>

    </li>
    <li><a href="#">MAINTENANCE SERVICES</a>
      <ul>
        <li><a href="#">Monitor Repair</a></li>
        <li><a href="#">Keyboard Repair</a></li>
        <li><a href="#">Mainboard Repair</a></li>

      </ul>
    </li>
    <li><a href="ban-do.html">CONTACT</a></li>
  </ul>
</nav>