<!DOCTYPE html>
<html>
<head>
    <link href="../../static/form/css/style.css">
</head>
<body>
    <div class="contentbox">
        <table class="shopping-cart">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th class="action">Action</th>
            </tr>
            <tr>
                <td class="image"><img src="product1.jpg" alt="Product 1"></td>
                <td>$19.99</td>
                <td><input type="number" value="1"></td>
                <td>$19.99</td>
                <td class="remove-update">
                    <a href="#" class="remove">Remove</a>
                    <a href="#" class="update">Update</a>
                </td>
            </tr>
            <!-- Thêm các dòng khác tương tự cho các sản phẩm khác -->
        </table>
    </div>

    <div class="alltotal">
        <table class="alltotal">
            <tr>
                <td>Total:</td>
                <td>$39.98</td>
            </tr>
            <tr>
                <td><span class="extra">Shipping:</span></td>
                <td>$5.00</td>
            </tr>
            <tr>
                <td><span class="grandtotal">Grand Total:</span></td>
                <td><span class="grandtotal">$44.98</span></td>
            </tr>
        </table>
        <input type="button" value="Checkout">
    </div>
</body>
</html>
